<% layout('layouts/boilerplate') %>
    <header>

        <h1><%= parking.name %></h1>
        <h2><%= parking.owner%></h2>
        <h2><%= parking.parkingSpot%></h2>
        <h2><%= parking.cost %></h2>
        <h2><%= parking.location %></h2>
    </header>
    <footer>
        <a href="/owner">Go Back</a>
        <a href="/owner/<%= parking._id %>/edit">Edit</a>
    </footer>
